.title {
  font-family: 'Londrina Outline', cursive;
  font-size: 120px;
}

.title_projects {
  margin: 50px 0 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 30px;
}

.subtitle {
  margin-bottom: 0;
  font-size: 20px;
  text-transform: uppercase;
  color: var(--secondary-color);
}